<!-- Sidebar (menu lateral) -->
<aside class="sidebar">
  <!-- Título da seção do menu -->
  <h2 class="sidebar-title">Cadastros</h2>

  <!-- Botões/links de navegação -->
  <nav class="sidebar-nav">

    <!-- Link para a tela de cadastro de usuários -->
    <a routerLink="/usuarios" routerLinkActive="active" class="sidebar-link">
      Cadastrar usuário
    </a>

    <!--     <button (click)="irEndereco()">Cadastrar Endereço</button> Link para a tela de cadastro de usuários -->
    <a routerLink="/endereco" routerLinkActive="active" class="sidebar-link">
      Cadastrar Endereço
    </a>


  </nav>
</aside>
